@value desktop, bermudaGreen from '../../styles/variables.css';

.fieldContainer {
  height: 15px;
}

.field{
  top: 17px;
  float: left;
  padding-bottom: 5px;
}

.code {
  margin-left: 20px;
  position: absolute;
  height: 18px;
  margin-top: -4px;
}

@media desktop {
  .compulsory {
    width: 87%;
  }
}
