@value desktop, aoi from '../../styles/variables.css';

.button {
  border: 5px solid aoi;
  background-color: aoi;
  text-align: center;
  margin-top: 8px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  height: 44px;
  width: 100%;
}

.button:hover:not(.invalid) {
  background-color: #b298e1;
  border: 5px solid #b298e1;
  cursor: pointer;
}

.invalid {
  border-color: #eee;
  background-color: #eee;
}

@media desktop {
  .button {
    max-width: 200px;
  }
}
