@value desktop, bermudaGreen from '../../styles/variables.css';

.compulsory {
  font-size: 14px;
  color: bermudaGreen;
  padding-left: 100px;
  height: 18px;
}

.fieldContainer {
  height: 15px;
}

.fieldDisabled{
  display : inline;
  height: 18px;
  top: 17px;
  float: left;
  padding-bottom: 5px;
  width: auto;
}

.field{
  height: 18px;
  top: 17px;
  float: left;
  padding-bottom: 5px;
}

.disabled {
  margin-top: -2px;
  position: absolute;
  height: 18px;
}

.code {
  margin-left: 20px;
  position: absolute;
  height: 18px;
  margin-top: -2px;
}

@media desktop {
  .compulsory {
    width: 87%;
  }
}
