@value desktop, bermudaGreen from '../../styles/variables.css';

.compulsory{
  font-size: 14px;
  height: 18px;
  color: bermudaGreen;
  width: 87%;
  position: absolute;
  top: 15px;
  text-align: center;
}

.field{
  height: 18px;
  top: 15px;
}

.code{
  margin-top: -23px;
  margin-left: 20px;
  position: absolute;
  height: 18px;
}

@media desktop {
  .compulsory {
    width: 87%;
  }
}
