.headers{
  text-align: left;
  width: 5%;
}

.hide {
  font-size: 0;
  width: 5%
}

.timetable {
  width: 80%;
  margin: auto;
  display: table-row;
}

.cardContianer{
  display: table-cell;
  border: 1px solid #e0e0e0;
  min-width: 150px;
}

table {
  border: none;
  border-collapse:collapse;
}

th {
   border:none;
}

.timetableGridContainer{
  display: table;
  margin: 0 auto;
}

.button {
  border: 5px solid aoi;
  background-color: aoi;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  height: 44px;
  width: 100%;
  float: right;
}

.button:hover:not(.invalid) {
  background-color: #90caf9;
  border: 5px solid #90caf9;
  cursor: pointer;
}

.invalid {
  border-color: #eee;
  background-color: #eee;
}
