@value desktop from '../../styles/variables.css';

.forgottenPassword {
  padding-top: 19px;
  padding-bottom: 22px;
  color:#4500c0;
}

.forgottenPasswordLink:hover, .forgottenPasswordLink:active {
  color:#747677;
  cursor: pointer;
}

.createAccountText {
  padding-top: 51px;
  color:#747677;
}

.createAccountLink {
  color: #4500c0;
}

.createAccountLink:hover, .createAccountLink:active {
  color:#747677;
  cursor: pointer;
}

@media desktop {
  .forgottenPassword {
    float: right;
  }
  
  .inputFields {
    max-width: 435px;
  }
}
