@value desktop, aoi from '../../styles/variables.css';

.button {
  border: 5px solid aoi;
  background-color: aoi;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  height: 44px;
  width: 100%;
  float: right;
}

.button:hover:not(.invalid) {
  background-color: #90caf9;
  border: 5px solid #90caf9;
  cursor: pointer;
}

.invalid {
  border-color: #eee;
  background-color: #eee;
}


.right {
  width: 49%;
  display: inline-block;
  padding-left: 1%;
  text-align: left;
  float: left;
}

.left {
  width: 49%;
  display: inline-block;
  padding-right: 1%;
  text-align: left;
  float: left;
}

@media desktop {
  .button {
    max-width: 200px;
  }
}
