@value desktop, aoi from '../../styles/variables.css';

.button {
  border: 5px solid aoi;
  background-color: aoi;
  text-align: center;
  margin-top: 15px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  height: 44px;
  width: 75%;
  min-width: 315px;
}

.button:hover:not(.invalid) {
  background-color: #90caf9;
  border: 5px solid #90caf9;
  cursor: pointer;
}

.invalid {
  border-color: #eee;
  background-color: #eee;
}

.modulesContainer {
  overflow:auto;
}

.right {
  margin: auto;
  width: 75%;
  text-align: left;
  padding-top: 10px;
}

.left {
  margin: auto;
  width: 75%;
  padding-right: 1%;
  text-align: left;
}

.modulesInnerContainer {
  text-align: center;
}

.inputField {
  text-align: center;
  font-family: Roboto, sans-serif;
  padding: 7px 10px 10px;
  width: 50%;
  max-width: 634px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-indent: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 3px 0px;
}

.inputField:focus {
  outline: none;
  border: solid 1px aoi;
}

@media desktop {
  .button {
    min-width: 20px;
    max-width: 200px;
    float: right;
  }

  .right {
    padding-left: 1%;
    float: left;
    padding-top: 0px;
    width: 49%;
  }

  .left {
    float: left;
    width: 49%;
  }
}
